# Python caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# VS Code workspace settings
.vscode/

# OS files
.DS_Store
Thumbs.db
